on: [push, pull_request]

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: macOS-13
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Install macOS system dependencies
        if: runner.os == 'macOS'
        run: |
          brew install imagemagick@6
          brew install libgit2
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: 4.2.3
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            bioc::GENESIS
            bioc::GenomicFeatures
            bioc::TxDb.Hsapiens.UCSC.hg38.knownGene
            github::xihaoli/STAAR
            github::xihaoli/MultiSTAAR
            github::zilinli1988/SCANG
            any::rcmdcheck
          needs: |
            website
            coverage
          install-pandoc: true
      - name: Check
        run: rcmdcheck::rcmdcheck(args = "--no-manual", error_on = "error")
        shell: Rscript {0}
